Source: libsilk
Priority: extra
Maintainer: FreeSWITCH Solutions <packages@freeswitch.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, automake (>= 1.14), autoconf (>= 2.69)
Standards-Version: 3.9.6
Section: libs
Homepage: https://developer.skype.com/silk/

Package: libsilk-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsilk1 (= ${binary:Version})
Description: The SILK codec development libraries
 contains files for compilation and evaluation
 of the fixed point SILK SDK library

Package: libsilk1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The SILK codec
 compiled fixed point SILK SDK library
