#!/usr/bin/make -f
# -*- makefile -*-

# get debian distribution codename
#DISTRIBUTION=$(shell lsb_release -sc)
# get version from changelog, for string mangling
#VERSION=$(shell dpkg-parsechangelog --count 1 --show-field Version)
# add distribution codename to package version
#PACKAGEVERSION=$(subst ~,~$(DISTRIBUTION)-,$(VERSION))

export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	./configure --prefix=/usr \
	 --includedir=/usr/include \
	 --mandir=/usr/share/man \
	 --infodir=/usr/share/info \
	 --sysconfdir=/etc \
	 --localstatedir=/var \
	 --libdir=/usr/lib \
	 --libexecdir=/usr/lib

# setting mangled package version
#override_dh_gencontrol:
#	dh_gencontrol -- -v$(PACKAGEVERSION)
